@import "~normalize.css/normalize.css";

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto Regular/roboto-regular-webfont.eot');
  src: url('./fonts/Roboto Regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto Regular/roboto-regular-webfont.woff2') format('woff2'), url('fonts/Roboto Regular/roboto-regular-webfont.woff') format('woff'), url('fonts/Roboto Regular/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
